
#branding {
  float: left; }
  #branding .logo, #branding .logo-copy {
    display: inline-block; }
  #branding .logo {
    margin-right: 10px; }
  #branding .site-title {
    margin: 0;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-size: 1.0666666667em; }
    #branding .site-title a {
      color: white; }
  #branding .site-description {
    font-size: 13px;
    font-size: 0.8666666667em;
    color: #9198af; }

.site-header {
  padding: 50px 0;
  *zoom: 1; }
.site-header:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0; }

.main-content .container {
  background: white;
  border-radius: 5px;
  padding: 30px; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1; }
.container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0; }
@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.page figure {
  margin-bottom: 30px; }
.page img {
  max-width: 100%; }
.page .movie-title {
  font-size: 36px;
  font-size: 2.4em;
  font-weight: 300; }

.breadcrumbs {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ebebeb; }
.breadcrumbs a {
  font-weight: 400;
  color: #9ea1a6; }
.breadcrumbs a:after {
  content: " ";
  width: 8px;
  height: 5px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  background: url(images/arrow-gray.png) no-repeat; }
.breadcrumbs a:hover {
    color: #ffaa3c; }
.breadcrumbs span {
  color: #84878d; }

  
.movie-list {
  margin: 0 -15px; }
  .movie-list .movie {
    width: 25%;
    padding: 0 15px;
    float: left;
    margin-bottom: 30px; }
    @media screen and (min-width: 991px) {
      .movie-list .movie:nth-child(4n+1) {
        clear: both; } }
    @media screen and (max-width: 990px) {
      .movie-list .movie {
        width: 50%; }
        .movie-list .movie:nth-child(4n+1) {
          clear: none; }
        .movie-list .movie:nth-child(2n+1) {
          clear: both; } }
    @media screen and (max-width: 480px) {
      .movie-list .movie {
        width: 100%;
        clear: both; } }
    .movie-list .movie .movie-poster {
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 20px;
      border: 1px solid transparent; }
      .movie-list .movie .movie-poster img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        -webkit-transition: .3s ease;
                transition: .3s ease; }
    .movie-list .movie:hover img {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }
    .movie-list .movie .movie-title {
      font-size: 24px;
      font-size: 1.6em;
      font-weight: 300; }
      .movie-list .movie .movie-title a {
        color: #84878d;
        -webkit-transition: .3s ease;
                transition: .3s ease; }
        .movie-list .movie .movie-title a:hover {
          color: #ffaa3c; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }


button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

body {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: #131a20;
  background: url(dummy/background.jpg) no-repeat center center fixed; 
  color: #84878d;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal; 
}
h1 {
  font-size: 2em;
  margin: 0.67em 0; 
}
small {
  font-size: 80%; }

.star-wrapper {
  position: relative;
  display: inline-block;
}
  
.stars {
  color: #fcc201;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
}
  
.star-wrapper::before, .stars::before {
  font-family: "FontAwesome";
  content: "\f005 \0020 \f005 \0020 \f005 \0020 \f005 \0020 \f005";
}


.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}